.App {
  height: 100vh;
  background-color: rgb(240, 229, 229);
}
.listed-movies{
  display:flex;
  flex-direction:row;
   flex-wrap:wrap;
   padding: 30px;
  gap: 25px;
  justify-content: space-evenly;

}